body{
    background: hsla(160%, 33%, 73%, 1);

    background: linear-gradient(225deg, hsla(160, 33%, 73%, 1) 0%, hsla(200, 42%, 22%, 1) 100%);

    background: -moz-linear-gradient(225deg, hsla(160, 33%, 73%, 1) 0%, hsla(200, 42%, 22%, 1) 100%);

    background: -webkit-linear-gradient(225deg, hsla(160, 33%, 73%, 1) 0%, hsla(200, 42%, 22%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A2D0C1", endColorstr="#214151", GradientType=1 );
	font-family: 'Noto Sans', sans-serif;
	height: 85.6vh;
}

.content{
	background-color: #ddd6;
	border-color: #fffb;
	border-radius: 2vw;
	border-style: solid;
	width: 86vw;
	height: 70vh;
	text-align: center;
	padding-top: 4vh;
	margin-top: 13vh;
	margin-left: 6vw;
	box-shadow: 5px 5px 15px 2px #aaa;
	filter:alpha(opacity=50);
}

form{
	text-align: center;
}

h1{
	font-size: 3vw;
}

h3{ 
	font-size: 2vw;
}


label{ 
	font-size: 2vw;
	margin-bottom: 1vw;
}

input{ 
	font-size: 2vw;
	border-radius: 1vw;
	border-style: solid;
	border-color: #aaa;
	text-align: center;
	margin-bottom: 1vw;
}

select{ 
	font-size: 2vw;
	border-radius: 1vw;
	border-style: solid;
	border-color: #aaa;
	text-align: center;
	margin-bottom: 1vw;
}
