body{
    background: hsla(160%, 33%, 73%, 1);

    background: linear-gradient(225deg, hsla(160, 33%, 73%, 1) 0%, hsla(200, 42%, 22%, 1) 100%);

    background: -moz-linear-gradient(225deg, hsla(160, 33%, 73%, 1) 0%, hsla(200, 42%, 22%, 1) 100%);

    background: -webkit-linear-gradient(225deg, hsla(160, 33%, 73%, 1) 0%, hsla(200, 42%, 22%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A2D0C1", endColorstr="#214151", GradientType=1 );
    height: 98vh;
    overflow: hidden;
}

.contein{
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe{
    width: 95vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:1vw;
}